entrypoint = "README.md"
modules = ["nodejs-20", "web", "nix"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 37741
externalPort = 4200

[[ports]]
localPort = 42065
externalPort = 5000

[[ports]]
localPort = 42231
externalPort = 3003

[[ports]]
localPort = 42563
externalPort = 3002

[[ports]]
localPort = 42653
externalPort = 6800

[[ports]]
localPort = 42697
externalPort = 3001

[[ports]]
localPort = 43779
externalPort = 8008

[[ports]]
localPort = 44907
externalPort = 8000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:start"
waitForPort = 5000

[agent]
expertMode = true
integrations = ["javascript_openai:1.0.0"]

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "serve", "-s", "dist"]
build = ["npx", "expo", "export", "--platform", "web"]
